<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugastts">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Module.MatkulRecylerViewActivity" />
        <activity android:name=".Module.KrsRecylerViewActivity" />
        <activity android:name=".Module.MahasiswaRecylerViewActivity" />
        <activity android:name=".Module.DosenRecylerViewActivity" />
        <activity android:name=".Module.UpdateMatkulActivity" />
        <activity android:name=".Module.UpdateKRSActivity" />
        <activity android:name=".Module.UpdateMahasiswaActivity" />
        <activity android:name=".Module.UpdateDosenActivity" />
        <activity android:name=".Module.DataDosenActivity" />
        <activity android:name=".Module.DaftarKRSActivity" />
        <activity android:name=".Module.DataMahasiswaActivity" />
        <activity android:name=".Module.LihatKelasActivity" />
        <activity android:name=".Module.CreateKRSActivity" />
        <activity android:name=".Module.CreateMatkulActivity" />
        <activity android:name=".Module.CreateMahasiswaActivity" />
        <activity android:name=".Module.CreateDosenActivity" />
        <activity android:name=".Module.AdminActivity" />
        <activity android:name=".Module.DosenActivity" />
        <activity android:name=".Module.LoginActivity" />
        <activity android:name=".Module.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>